.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.col_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.row_center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item{
    margin:auto;
}
.header_item{
    font-family : "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size : 14px;
    color:  white;
    text-align: center;
    cursor: pointer;
}
